.content figure.highlight {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.content figure.highlight table {
  margin: 0;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid var(--border-line-color);
  border-radius: 6px;
  overflow: hidden;
}

.content figure.highlight .gutter {
  padding: 15px 10px;
  background: var(--third-bg-color);
  border-right: 1px solid var(--border-line-color);
  vertical-align: top;
  text-align: right;
  user-select: none;
}

.content figure.highlight .gutter pre {
  margin: 0;
  padding: 0;
  background: transparent;
  color: var(--second-text-color);
}

.content figure.highlight .code {
  padding: 15px;
  vertical-align: top;
  width: 100%;
  background: var(--pre-code-bg-color);
}

.content figure.highlight .code pre {
  margin: 0;
  padding: 0;
  background: transparent;
}
